<div class="container mt-5 col-md-6">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-success">Your Profile</h2>
    <button *ngIf="!isEditable" class="btn btn-warning btn-sm" (click)="enableEdit()">Edit</button>
  </div>

  <form #profileForm="ngForm" (ngSubmit)="updateUser()">

    <p *ngIf="originalUser.userName!==user.userName" class="text-danger">Note: If username is edited, you need to login again.</p>

    <div class="form-group mb-3">
      <label>User ID</label>
      <input type="number" class="form-control" [value]="user.userId" disabled>
    </div>

    <div class="form-group mb-3">
      <label>User Name</label>
      <input 
        type="text" 
        class="form-control" 
        name="userName"
        [(ngModel)]="user.userName" 
        [readonly]="!isEditable"
        required minlength="4"
        #username="ngModel">
        
      <div class="text-danger mt-1" *ngIf="username.touched && username.invalid">
        Username must be at least 4 characters.
      </div>
    </div>

    <div class="form-group mb-3">
      <label>Email</label>
      <input 
        type="email" 
        class="form-control" 
        name="email"
        [(ngModel)]="user.email" 
        [readonly]="!isEditable"
        required email
        #email="ngModel">
        
      <div class="text-danger mt-1" *ngIf="email.touched && email.invalid">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group mb-3">
      <label>Mobile</label>
      <input 
        type="text" 
        class="form-control" 
        name="mobile"
        pattern="[0-9]{10}" 
        [(ngModel)]="user.phoneNumber"
        [readonly]="!isEditable"
        required
        #phone="ngModel">
        
      <div class="text-danger mt-1" *ngIf="phone.touched && phone.invalid">
        Enter a 10-digit phone number.
      </div>
    </div>

    <div class="form-group mb-4">
      <label>Role</label>
      <input type="text" class="form-control" [value]="user.roles" disabled>
    </div>

    <button 
      type="submit" 
      class="btn btn-success" 
      *ngIf="isEditable"
      [disabled]="profileForm.invalid || !hasChanges()">
      Update Profile
    </button>

  </form>
</div>
